appnope==0.1.4 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Darwin"
asttokens==2.4.1 ; python_version >= "3.11" and python_version < "3.12"
cachetools==5.5.0 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "3.12" and implementation_name == "pypy"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_version >= "3.11" and python_version < "3.12"
debugpy==1.8.7 ; python_version >= "3.11" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "3.12"
executing==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
ipykernel==6.29.5 ; python_version >= "3.11" and python_version < "3.12"
ipython==8.29.0 ; python_version >= "3.11" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.11" and python_version < "3.12"
jupyter-client==8.6.3 ; python_version >= "3.11" and python_version < "3.12"
jupyter-core==5.7.2 ; python_version >= "3.11" and python_version < "3.12"
matplotlib-inline==0.1.7 ; python_version >= "3.11" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.11" and python_version < "3.12"
packaging==24.1 ; python_version >= "3.11" and python_version < "3.12"
parso==0.8.4 ; python_version >= "3.11" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform != "win32" and sys_platform != "emscripten")
platformdirs==4.3.6 ; python_version >= "3.11" and python_version < "3.12"
prompt-toolkit==3.0.48 ; python_version >= "3.11" and python_version < "3.12"
psutil==6.1.0 ; python_version >= "3.11" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12" and implementation_name == "pypy"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.12"
pywin32==308 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.11" and python_version < "3.12"
pyzmq==26.2.0 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "3.12"
tenacity==8.5.0 ; python_version >= "3.11" and python_version < "3.12"
tornado==6.4.1 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.66.6 ; python_version >= "3.11" and python_version < "3.12"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.12"
